<h1>Create a New Climb</h1>

<div class="row">
    <form action="/climbs" method="POST" class="col-md-6 col-md-offset-3">
        <!-- Name -->
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control">
        </div>
        <!-- Location -->
        <div class="form-group">
            <label for="last_name">Location:</label>
            <input type="text" name="location" class="form-control">
        </div>
        <!-- Grade -->
        <div class="form-group">
            <label for="country">Grade:</label>
            <input type="text" name="grade" class="form-control">
        </div>
        <!-- Complete -->
        <div class="form-group">
            <label for="book_title">Complete:</label>
            <input type="text" name="complete" class="form-control">
        </div>
        <!-- Submit Button -->
        <div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>

<a href="/climbs" class="btn btn-default">Main Page</a>